.analytics-website {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
.analytics-website .h1wrapper {
  width: 80%;
  height: 100%;
}

.analytics-website .h1wrapper h1.offers {
  position: absolute;
  width: 100%;
  top: 6%;
  left: -100%;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(45, 46, 45);
  transform: translate(-50%, -50%);
}
.analytics-website .h1wrapper h1.offers.active {
  animation: responsiveH1 5s 1 both;
}
.analytics-website .h1wrapper p.offersAlt {
  position: absolute;
  width: 100%;
  top: 11%;
  left: 150%;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(45, 46, 45);
  transform: translate(-50%, -50%);
}
.analytics-website .h1wrapper p.offersAlt.active {
  animation: responsiveP 5s 1 both;
}
@media (max-width: 1023px) {
  .analytics-website .h1wrapper h1.offers {
    font-size: 2rem;
  }
  .analytics-website .h1wrapper p.offersAlt {
    font-size: 1.5rem;
  }
}
@media (orientation: portrait) and (max-width: 414px) {
  .analytics-website .h1wrapper p.offersAlt {
    top: 17%;
  }
}

@keyframes responsiveH1 {
  0% {
    left: 150%;
  }
  45% {
    left: 45%;
  }
  55% {
    left: 55%;
  }
  100% {
    left: 50%;
  }
}

@keyframes responsiveP {
  0% {
    left: -100%;
  }
  45% {
    left: 55%;
  }
  55% {
    left: 45%;
  }
  100% {
    left: 50%;
  }
}
